@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="mId" name="会员ID" underline="true"/>
                            <#input id="shopName" name="企业名称" underline="true"/>
                            <#input id="logo" name="企业logo" underline="true"/>
                            <#input id="status" name="状态" underline="true"/>
                            <#input id="addtime" name="加入时间" underline="true"/>
                            <#input id="endtime" name="编辑时间" underline="true"/>
                            <#input id="tel" name="电话" underline="true"/>
                            <#input id="email" name="邮箱" underline="true"/>
                            <#input id="customerUrl" name="客服url" underline="true"/>
                            <#input id="businessLicense" name="营业执照"/>
                </div>

                <div class="col-sm-6">
                            <#input id="prov" name="省" underline="true"/>
                            <#input id="city" name="市" underline="true"/>
                            <#input id="area" name="区" underline="true"/>
                            <#input id="address" name="地址" underline="true"/>
                            <#input id="desc" name="描述" underline="true"/>
                            <#input id="goodsComment" name="评论数" underline="true"/>
                            <#input id="level" name="等级" underline="true"/>
                            <#input id="balance" name="余额" underline="true"/>
                            <#input id="bannerUrl" name="banner_url" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberShopInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberShopInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/memberShop/memberShop_info.js"></script>
@}
